.container{
    overflow: hidden;
}

.navbar{
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.355);
    margin-bottom: 2rem;
    padding: 1rem;
    border-radius: 6px;

}

.main{
    display: flex;
    height: 80vh;
    border-radius: 6px !important;
}

.sidebar{
    width: 30%;
    background-color: #0646a2;
    padding: 10px;
    color: white;
    border-radius: 6px;
}



.chatSession{
    /* position: fixed; */
    bottom: 0;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
}

 input{
    padding: 10px 15px;
    border: none;
    border-radius: 6px 0px 0px 6px;
    background-color: rgba(128, 128, 128, 0.477);
}

.chatSession form{
    display: flex;
}

.chatSession input{
    width: 90%;
    padding: 10px 15px;
    border: 1px solid grey;
    border-radius: 6px 0px 0px 6px;
    background-color: white;
}

.cards{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 1rem;
    border-top: 1px solid black;

}

.card{
    padding: 10px;
    background-color: #029edc79;
    color: white;
    backdrop-filter: blur(10px);
    background: white;
    background: linear-gradient(
        to right bottom,
        rgba(255, 255, 255, 0.4),
        rgba(255, 255, 255, 0.2)
    );
    backdrop-filter: blur(1rem);
}

.my-btn{
    border: none;
    padding: 10px 15px;
    cursor: pointer;
}
.chatSession button{
    border-radius: 0 6px 6px 0;
}

.mainbar{
    width: 70%;
    position: relative;
    border-radius: 6px;
    background-color: rgba(128, 128, 128, 0.229);
    position: relative;
    overflow: scroll;
}

.profile{
    position: absolute;
    top: 0;
    left: 10%;
    padding: 10px;
    border-bottom: 2px solid #0646a2;
    /* width: 100%; */
}

.messages{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    /* width: 40vw; */
    width: 40vw;
}

al-ryt{
    margin-left: 2rem !important;
}

.message{
    padding: 10px;
    border-radius: 10px;
    background-color: white;
    width: fit-content;
}